body
{
   background-image: url(imagens/foguete.jpeg);
   background-size: cover;
   background-position: center;
}
nav {
    text-align:left;
    font-family: 'pt-serif-regular', serif;
    padding: 5px;
    position: absolute;
    top: 100 ;
    left: 0;
    width: 100%;
}
header {
    background-size: cover;
    background-position: center;
    text-align: left;
    font-family:'Asset', 'Arial Narrow', Arial, sans-serif;
    height: 150px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative; 
}
.asset-regular {
  font-family: "Asset", serif;
  font-weight: 400;
  font-style: normal;
}
.asset-bold {
  font-family: "Asset", serif;
  font-weight: 700;
  font-style: normal;
}

.pt-serif-bold {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.pt-serif-regular-italic {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.pt-serif-bold-italic {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: italic;
}
.textinho {
  font-family: geist pixel, Árial Narow, Arial, sans-serif;
  color:white;
  padding-top: 40px;
  margin-bottom: 40px;
  padding-left: 30px;
}
a:link {
  color: whitesmoke;
}
a 
{
  padding: 10px;
}
a:visited {
  color: white;
}
a:hover {
  color: red;
}
a:active {
  color: orange;
}
.texto-grande {
  font-family: geist pixel, Árial Narow, Arial, sans-serif;
  color:rgb(255, 255, 255);
  padding: 50px 0;
  text-align:center
}
.menu{
  font-family: "Bytesized", Árial Narow, Arial, sans-serif;
  border-left: 2px solid white;
  height:max-content;
  font-size: 25px;
}
.bytesized-regular {
  font-family: "Bytesized", sans-serif;
  font-weight: 400;
  font-style: normal;
}
hr {
  color: white;
}
